@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#F7F7F7 
#EEEEEE
#393E46
#929AAB
*/

.bg-custom-one {
    background-color: #F7F7F7;
}
.text-custom-one {
    color: #F7F7F7;
}
.bg-custom-two {
    background-color: #EEEEEE;
}
.text-custom-two {
    color: #EEEEEE;
}
.bg-custom-three {
    background-color: #393E46;
}
.text-custom-three {
    color: #393E46;
}
.bg-custom-four {
    background-color: #929AAB;
}
.text-custom-four {
    color: #929AAB;
}