<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Web developer resume">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="John Doe">
        <title>John Doe - Resume</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <style>
            .hero-container {
                height: 66px;
                width: 66px;
                border-radius: 50%;
                background-color: #bcf0f7;
                padding: 10px;
                box-shadow: 2px 2px 20px #79E0EE;
            }
            .hero-img {
                height: 100%;
                width: 100%;
            }
            .hero-radial-gradient {
                background: #bcf0f7;
                background: linear-gradient(145deg, #bcf0f7 0%, #ffffff 30%);
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 p-5 hero-radial-gradient">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-start align-items-center">
                            <div class="hero-container">
                                <img class="hero-img" src="../../server/public/images/avatars/boy-1.svg"/>
                            </div>
                            <div class="ms-4">
                                <h1>John Doe</h1>
                                <h5 class="text-muted">Web Developer</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h5 class="text-muted">Experience</h5>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <h6>UI/UX Designer <em>IronSketch</em></h6>
                                    <h6 class="text-muted">2008-2015</h6>
                                    Responsibility :
                                    <ul>
                                        <li>Validate CSS</li>
                                        <li>Project Management</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <h6>UI/UX Designer <em>IronSketch</em></h6>
                                    <h6 class="text-muted">2008-2015</h6>
                                    Responsibility :
                                    <ul>
                                        <li>Validate CSS</li>
                                        <li>Project Management</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <h6>UI/UX Designer <em>IronSketch</em></h6>
                                    <h6 class="text-muted">2008-2015</h6>
                                    Responsibility :
                                    <ul>
                                        <li>Validate CSS</li>
                                        <li>Project Management</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h5 class="text-muted">Education</h5>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <h6>Art & Multimedia From <em>Oxford University</em></h6>
                                    <h6 class="text-muted">2008-2015</h6>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <h6>Art & Multimedia From <em>Oxford University</em></h6>
                                    <h6 class="text-muted">2008-2015</h6>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <h6>Art & Multimedia From <em>Oxford University</em></h6>
                                    <h6 class="text-muted">2008-2015</h6>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-dark text-white p-5">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>About</h5>
                            <p>
                                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h5>Skills</h5>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JS</li>
                                <li>PHP</li>
                                <li>Python</li>
                                <li>Angular</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h5>Contact</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-decoration-none text-white" href="#" role="button">
                                        Facebook
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a class="text-decoration-none text-white" href="#" role="button">
                                        Twitter
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a class="text-decoration-none text-white" href="#" role="button">
                                        Github
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a class="text-decoration-none text-white" href="#" role="button">
                                        Linkedin
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a class="text-decoration-none text-white" href="#" role="button">
                                        Email
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <footer class="mt-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
                          <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
                        </svg>
                        &nbsp;2023 Copyright: 93hub.com
                    </footer>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>