<h2 class="pb-8 text-4xl font-bold dark:text-white">Welcome!</h2>
<div class="p-8">
    <div class="flex flex-wrap items-center justify-center">
        <div class="text-center w-4/5">
            <div class="grid md:grid-cols-3 md:gap-6">
                <div class="relative w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
                    <div class="absolute inline-flex items-center justify-center w-10 h-10 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-5 left-0 right-0 mx-auto dark:border-gray-900">1</div>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Template
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Select a template from the templates option in the menu.</p>
                </div>
                <div class="relative w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
                    <div class="absolute inline-flex items-center justify-center w-10 h-10 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-5 left-0 right-0 mx-auto dark:border-gray-900">2</div>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Form
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Fill appropriate data in template form.</p>
                </div>
                <div class="relative w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
                    <div class="absolute inline-flex items-center justify-center w-10 h-10 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-5 left-0 right-0 mx-auto dark:border-gray-900">3</div>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Site
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Your site can be seen through site option in the menu.</p>
                </div>
            </div>
        </div>
    </div>
</div>